body{
  background-color: #FFFFFF;
  cursor: crosshair;
 }

#content{
  position: absolute;
  left: 500px;
  top: 250px;
  height: 300px;
  width: 500px;
  font-style: bold;
  border-style: solid;
  border-width: 6px;
  border-spacing: 5px;
}

.box{
  background-color: #F4D03F;
  left: 500px;
  top: 250px;
  z-index: -1
}
 
